.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: 2rem auto;
  border: 2px solid var(--color-black-light);
}

.question__info {
  display: flex;
  align-items: center;
}

.question__choice {
  border: solid 2px var(--color-primary-light);
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 1rem;
    max-width: 95vw;
  }
}